@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  background-color: #F6F6F6;
  font-family: Roboto;
}

.main-container {
  width: 100%;
  min-width: 375px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 14px 0px 13px 0px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1440px) {
  .logo-container {
    height: 70px;
  }
}

.logo {
  width: 162px;
  max-width: 200px;
}
@media (min-width: 1440px) {
  .logo {
    width: 200px;
  }
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 17px;
  background-color: #EAEAEA;
  color: #353535;
  padding: 10px 0px;
  width: 100%;
  z-index: -1;
}
@media (min-width: 1440px) {
  .location-container {
    height: 30px;
  }
}
.location-container a {
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto;
}

.restaurant-img-container {
  width: 100%;
}
.restaurant-img-container img {
  object-fit: cover;
  width: 100%;
  max-height: 475px;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  top: -55px;
  max-width: 1055px;
  margin: 0 auto;
}
.menu-content {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.menu-content h2 {
  font-weight: 400;
  font-size: 28px;
  font-family: Shrikhand;
  padding-top: 20px;
  margin: 0px;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .menu-content h2 {
    align-self: center;
  }
}
.menu-content h3 {
  font-weight: 300;
  font-size: 16px;
  font-family: Roboto;
  text-transform: uppercase;
  align-self: flex-start;
}
.menu-content h3:after {
  content: "";
  display: block;
  position: relative;
  width: 40px;
  background-color: #99E2D0;
  height: 4px;
  bottom: -7px;
}
.menu-content h4 {
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto;
}
.menu-content p {
  font-weight: 300;
  font-size: 15px;
  font-family: Roboto;
}
.menu-content .card {
  max-width: 604px;
  width: calc(100% - 30px);
  height: 42px;
  padding: 15px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
}
.menu-content .card .price {
  position: relative;
  float: right;
  bottom: 20px;
  font-weight: 700;
  font-size: 15px;
}
.menu-content .card-title, .menu-content .card-subtitle {
  margin: 0px;
  padding-bottom: 2px;
}
.menu-content .menu-course-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 604px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  margin-top: 60px;
  background-color: #353535;
}
@media (min-width: 1440px) {
  .footer-column {
    flex-direction: row-reverse;
    height: 114px;
  }
}
.footer-column h4 {
  margin: 0px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  font-family: Shrikhand;
}
@media (min-width: 1440px) {
  .footer-column h4 {
    margin-left: 90px;
    margin-right: 50px;
    padding-top: 72px;
  }
}
.footer-column ul {
  list-style: none;
  padding: 0px;
  font-size: 16px;
  font-family: Roboto;
}
@media (min-width: 1440px) {
  .footer-column ul {
    display: flex;
    padding-top: 60px;
    gap: 30px;
  }
}
.footer-column li {
  margin-bottom: 7px;
}
.footer-column li i {
  color: white;
}
.footer-column li a {
  color: white;
  text-decoration: none;
}

.footer-space {
  margin: 13px;
}

.footer-space2 {
  margin: 7px;
}

header {
  flex-direction: row;
}
header .logo-container {
  box-shadow: none;
}
header .back-btn-container {
  position: relative;
  margin-left: 10px;
  align-self: center;
}
header .back-btn-container .back-btn {
  color: #353535;
  font-size: 30px;
}

.explore-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 218px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 25px;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: #ffffff;
}

.how_works-bttn {
  display: flex;
  align-items: center;
  width: 322px;
  height: 72px;
  background-color: #F6F6F6;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

.icon {
  width: 16px;
  margin-right: 25px;
  color: #7E7E7E;
}

.num-steps {
  height: 15px;
  width: 15px;
  margin-left: -10px;
  margin-right: 25px;
  padding: 4px;
  font-size: 14.5px;
  text-align: center;
  border-radius: 20px;
  background-color: #9356DC;
  color: #ffffff;
}

.like-button {
  float: right;
  margin-right: 20px;
}

.order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 186px;
  height: 50px;
  margin-bottom: 40px;
  border-radius: 25px;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: #ffffff;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
}
.card img {
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card-info {
  margin-left: 13px;
  padding: 10px 0px;
}
.card-title, .card-subtitle {
  margin: 0px;
  padding-bottom: 5px;
}

body {
  background-color: #ffffff;
}

.footer-column {
  margin-top: -55px;
}/*# sourceMappingURL=restaurant-menu.css.map */