@use    './components/header';
@use    "./components/buttons";
@use    './components/brief-description';
@import "./components/variable";
@import "./components/font-style";
@import "./components/mixins";



body{
    @include flex-center;
    margin: 0px;
    background-color: $secondaryBgColor;
    font-family: $font-style-text;
    
}

.main-container{
    width: 100%;
    min-width: 375px;
    max-width: 1440px
}
