//menu content
@import "../../helpers/variable";
@import "../../helpers/font-style";
@import "../../components/box-shadow";
@import "../../helpers/mixins";
@import "../../helpers/breakpoints";
@import "../../components/like-button";


.menu{
    background-color: $secondaryBgColor;
    border-radius: 35px 35px 0px 0px;
    position: relative;
    top: -55px;
    max-width: 1055px;
    margin: 0 auto;

    

    &-content{
       padding: 15px; 
       @include flex-center(column);
       gap: 40px;

       .title-and-like{
            @include flex-center(row);
            width: 100%;
            margin-top: 20px;
            justify-content: space-between;
            max-width: 600px;

            @include tablet{
                justify-content: center;
                gap: 75px  ;
            }
        
       }

        h2{
            font-weight: weight(menu-title);
            font-size: font-size(menu-title);
            font-family: font-family(title);
            //padding-top: 20px;
            margin: 0px;
            align-self: flex-start;

            @include tablet{
                align-self: center;
                
            }

            
        }

        h3{
            font-weight: weight(thin);
            font-size: font-size(normal);
            font-family: font-family(text);
            text-transform: uppercase;
            align-self: flex-start;
            
           

            &:after{
                content: '';
                display: block;
                position: relative;
                width: 40px;
                background-color: #99E2D0;
                height: 4px;
                bottom:-7px;
                
                
                
            }
        }
        
        h4{
            font-weight: weight(regular);
            font-size: font-size(card-title);
            font-family: font-family(text);
        }

        p {
            font-weight: weight(thin);
            font-size: font-size(menu-subtitle);
            font-family: font-family(text);
        }

        & .card{
            display: flex;
            
            
            max-width: 604px;
            width: calc(100% - 30px);
            height:42px;
            padding: 15px;
            
            box-shadow: $card-box-shadow;

            

            &-content{
                display: flex;
                flex-direction: column;
            }

            & .price{
                position: relative;
                align-self: flex-end;
                margin-left: auto;
                //bottom: 20px;
                justify-self: flex-end;
                font-weight: weight(bold);
                font-size: font-size(menu-subtitle);
                
            }

            &-title, &-subtitle{
                margin: 0px;
                padding-bottom: 2px;
            }
        }

        .menu-course-container{
            @include flex-center(column);
            gap: 12px;
            width: 100%;
            max-width: 604px;
            
        }

    }
}

