//restaurant img header
@import "../../helpers/mixins";
@import "../../helpers/breakpoints";

.restaurant-img-container{
    width: 100%;
    
    

    img{
        object-fit: cover;
        width: 100%;
        height: 260px;
        max-height: 475px;

        @include tablet{
            height: auto;
        }
       
    }
}