//Under header - Brief Description
@import "../../helpers/mixins";
@import "../../helpers/breakpoints";


.brief-description-container{
    @include flex-center(column);
    flex-direction: column;
    
    
    .tagline{ 
    margin: 0px;
    text-align: center;
    margin-bottom: 27px;
    }

    & h2{
        padding: 15px 0;
    
        @include desktop{
            font-size: 40px;
        }
    }
}

