//How it works section
@import "../../helpers/mixins";
@import "../../helpers/variable";
@import "../../helpers/breakpoints";
@import "../../helpers/font-style";

.how_works{
    background-color: $BgColor;
   
    height: 440px;

    @include desktop{
        height: auto;       
    }
    

    & h2{
            margin: 0px;
            text-align: left;
            margin-left: 20px;
            padding: 30px 0;
            font-weight: weight(bold);
            font-size: font-size(section-header);
            font-family: font-family(text);
            
        }


    &-content{
        @include flex-center(column);
        gap: 25px;

        
            font-weight: weight(regular);
            font-size: font-size(normal);
            font-family: font-family(text);
        

        @include desktop{
            flex-direction: row;
            padding-bottom: 50px;
            gap: 35px;
        }
        
        
        .fa-store{
            color: $primaryColor;
        }
        
    }
}