//How it works section
@import "../../helpers/mixins";
@import "../../helpers/variable";
@import "../../helpers/breakpoints";
@import "../../helpers/font-style";

.how_works{
    background-color: $BgColor;
    display: flex;
    justify-content: center;
    padding: 40px;
    

    @include desktop{
        height: auto;       
    }
    

    & h2{
            margin: 0px;
            align-self: flex-start;
            width: 100%;
            max-width: 1040px;
            
            font-weight: weight(bold);
            font-size: font-size(section-header);
            font-family: font-family(text);
            
        }


    &-content{
        @include flex-center(column);
            gap: 25px;
            width: fit-content;
            height: auto;
        
            font-weight: weight(regular);
            font-size: font-size(normal);
            font-family: font-family(text);
        

        @include desktop{
            flex-direction: row;
            padding-bottom: 50px;
            gap: 35px;
            flex-wrap: wrap;
        }
        
        
        .fa-store{
            color: $primaryColor;
        }
        
    }
}