//Under header - Brief Description
@import "./mixins";


.brief-description-container{
    @include flex-center;
    flex-direction: column;
}

.tagline{ //look into nestign this in ^^^
    margin: 0px;
    text-align: center;
    margin-bottom: 27px;
}