//Under header - Brief Description
@import "./mixins";


.brief-description-container{
    @include flex-center(column);
    flex-direction: column;
    
    
    .tagline{ 
    margin: 0px;
    text-align: center;
    margin-bottom: 27px;
    }
}

