//buttons
@import "./variable";
@import "./mixins";
@import "./box-shadow";

.explore-menu{
    @include flex-center;
    width: 218px;
    height: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    background: $pink-gradient-color;
    box-shadow: $box-shadow;
    
    text-decoration: none;
    color: $BgColor;

}

.how_works-bttn{
    @include flex-center;
    width: 322px;
    height: 72px;
    background-color: $secondaryBgColor;
    
}