//main page restaurants section
@import "./mixins";
@import "./variable";



.restaurant_choice{

    border: $test-outline;

    & h2{
            margin: 0px;
            text-align: left;
            margin-left: 20px;
            padding: 35px 0;
        }


    &-content{
        @include flex-center(column);
        gap: 25px;
        
        border: $test-outline;
    }
}