//How it works section
@import "./mixins";
@import "./variable";

.how_works{
    background-color: $BgColor;
    padding: 5px;  //remove after completed section
    border: 2px blue solid;

    & h2{
            margin: 0px;
            text-align: left;
            margin-left: 20px;
        }


    &-content{
        @include flex-center(column);
        gap: 25px;
        border: 2px green solid;
        

        
    }
}