//Animations

@import "../helpers/variable";



@keyframes heart {
    from {opacity: 17%;}
    to {opacity: 100%;}

}




.menu-content{

    .menu-course-container{
        animation: 1.5s ease-in-out both fade-in ;
    }


    .card{
        
        &:hover{
            .order-container{
                width: 60px;
                transition:ease-in-out 2s ;
            }

            .order-animation{
                overflow: hidden;
                
                transition: ease-in-out 2s;
                //transform: translate(-60px,0px);
                
            }

        }

        & .order-container{
            width: 0px;
            transition: ease-out 2s;
        }

        & .order-animation{
            position: relative;
            left: 15px;
            top: -15px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            overflow: hidden;
            width: 60px;
            
            transition: ease-out 2s ;
            height: 73px;
            background-color: $add-to-order-animation;
            
            
            transform-origin: 100% 50%;
           
        }

        .fa-check{
            color: $add-to-order-animation;
            padding: 3px;
            
            border-radius: 25px;
            
            font-size: 20px;
            background-color:$BgColor;
        }
        
        
        
    }
}

@keyframes fade-in {
    0% {
     opacity: 0;
     }
 
     100% {
         opacity: 1;
     }
 }
 
 @for $i from 1 through 4{
     .menu-course-container{
 
         &:nth-child(#{$i}) {
             
             animation-delay: $i * 750ms;
         }
     }
 }


 @mixin btn-hover{
    background-color: $pink-gradient-color(white 15%);
 }