//Animations

@import "../helpers/variable";

$fade-in-delay: 650ms;

@keyframes heart {
    from {opacity: 17%;}
    to {opacity: 100%;}

}

//animation for the restaurant content to appear 1 by 1
@keyframes fade-in {
    0% {
     opacity: 0;
     }
 
     100% {
         opacity: 1;
     }
 }
 
 @for $i from 1 through 4{
     .menu-course-container{
 
         &:nth-of-type(#{$i}) {
             
             animation-delay: $i * $fade-in-delay;
         }
     }
 }


 @mixin btn-hover{
    
    background: $btn-hover-color;
    box-shadow: $btn-hover-shadow;
 }

 //animation for the spinner 
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
    } 

    
    //animation for the homepage contents to appear
    @keyframes appear {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            
        }
        } 