//font sytling


  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


$font-familys: (
"text"  : Roboto,
"title" : Shrikhand
);

$font-weights: (
    "thin":300,
    "footer-subtitle":350,
    "footer-title":400,
    "menu-title":400, 
    "regular":500,
    "bold": 700
);

$font-sizes:(
    "icon":14.5px,
    "menu-subtitle":15px,
    "normal":16px,
    "restaurant-location": 17px,
    "card-subtitle": 17px,
    "tagline":18px,
    "card-title":18px,
    "footer-title":18px,
    "section-header": 24px,
    "menu-title": 28px
);


@function weight($weight-name) {
    @return map-get($font-weights , $weight-name );
}

@function font-size($font-size) {
    @return map-get($font-sizes, $font-size );
}

@function font-family($font-family) {
    @return map-get($font-familys, $font-family );
}

