//font sytling

$font-style-text: Roboto;

$font-weights: (
    "thin":300,
    "regular":500,
    "bold": 700
);

$font-sizes:(
    "icon":14.5px,
    "normal":16px,
    "restaurant-location": 17px,
    "tagline":18px,
    "section-header": 24px
);

.normal-text-styles{
    font-family: $font-style-text;
    font-size: map-get($font-sizes , normal );
    font-weight: map-get($font-weights , regular );
}

.section-header-text-style{
    font-family: $font-style-text;
    font-size: map-get($font-sizes , section-header );
    font-weight: map-get($font-weights , bold );
}

.tagline-text-style{
    font-family: $font-style-text;
    font-size: map-get($font-sizes , tagline );
    font-weight: map-get($font-weights , thin );
}

.card-title{
    font-family: $font-style-text;
    font-size: map-get($font-sizes , tagline );
    font-weight: map-get($font-weights , bold );
}

.card-subtitle{
    font-family: $font-style-text;
    font-size: map-get($font-sizes , restaurant-location );
    font-weight: map-get($font-weights , thin );
}