$fa-font-path: "../../webfonts";


$BgColor: #ffffff;
$secondaryBgColor: #F6F6F6;
$primaryColor: #9356DC;
$grey2Color: #EAEAEA;
$grey-heading-color: #353535;
$pink-gradient-color: linear-gradient(180deg,#FF79DA  -11.44%,#9356DC  123.93%);
$btn-hover-color: linear-gradient(rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(180deg,#FF79DA  -11.44%,#9356DC  123.93%);
 
$icon-colour:#7E7E7E;
$footer-background:#353535;
$add-to-order-animation:#99E2D0;
$green-font: #0e6149;




