//core layout
@import "../helpers/mixins";
@import "../helpers/variable";
@import "../helpers/font-style";

body{
    @include flex-center(column);
    margin: 0px;
    background-color: $secondaryBgColor;
    font-family: font-family(text);
    
}

.main-container{
    width: 100%;
    min-width: 375px;
    
}
