//footer
@import "../helpers/variable";
@import "../helpers/mixins";
@import "../helpers/breakpoints";
@import "../helpers/font-style";



.footer-column{
  display: flex;
  flex-direction: column;
  
  padding: 22px 25px;
  margin-top: 60px;
  

  background-color: $footer-background;

  @include desktop{
      flex-direction: row-reverse;
      height: 114px;
      
  }

  h4{
    margin: 0px;
    color: white;
    font-weight: weight(footer-title);
    font-size: font-size(footer-title);
    font-family: font-family(title);

    @include desktop{
      margin-left: 90px;
      margin-right: 50px;
      padding-top: 72px;
    }
    
  }

  ul{
    list-style: none;
    padding: 0px;
    font-weight: weight(normal);
    font-size: font-size(normal);
    font-family: font-family(text);
    
    @include desktop{
        display: flex;
        padding-top: 60px;
        gap: 30px;
    }
  }

  li{
    margin-bottom: 7px;
    i{
      color: white;
    }
   

    a{
    color: white;
    text-decoration: none;
    }
  }
}

.footer-space {
  margin: 13px;
}
.footer-space2 {
  margin: 7px;
}