//footer
@import "../helpers/variable";
@import "../helpers/mixins";


.footer-column{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 22px 25px;
  margin-top: 60px;

  background-color: $footer-background;

  h4{
    margin: 0px;
    color: white;
  }

  ul{
    list-style: none;
    padding: 0px;
  }

  li{
    margin-bottom: 7px;
    i{
      color: white;
    }
   

    a{
    color: white;
    text-decoration: none;
    }
  }
}

.footer-space {
  margin: 13px;
}
.footer-space2 {
  margin: 7px;
}