@import "../helpers/variable";
@import "../components/box-shadow";
@import "../helpers/mixins";
@import "../helpers/breakpoints";
@import "../helpers/font-style";

header{
    @include flex-center(column);
    
    
    
}

.logo-container{
    @include flex-center(row);
    padding: 14px 0px 13px 0px;
    width: 100%;
    
    
    background-color: $BgColor;
    box-shadow: $box-shadow;

    @include desktop{
        height: 70px;
    }

}

.logo{
    width: 162px;
    max-width: 200px;
    
    @include desktop{
        width: 200px
    }

}



