@import "../helpers/variable";
@import "../components/box-shadow";
@import "../helpers/mixins";
@import "../helpers/breakpoints";
@import "../helpers/font-style";

header{
    @include flex-center(column);
    
    
    
}

.logo-container{
    @include flex-center(row);
    padding: 14px 0px 13px 0px;
    width: 100%;
    
    
    background-color: $BgColor;
    box-shadow: $box-shadow;

    @include desktop{
        height: 70px;
    }

}

.logo{
    width: 162px;
    max-width: 200px;
    
    @include desktop{
        width: 200px
    }

}

.location-container{
    @include flex-center(row);
    gap: 17px;
    background-color: $grey2Color;
    color: $grey-heading-color;
    padding: 10px 0px;
    width: 100%;
    z-index: -1;

    @include desktop{
        height: 30px;
    }


    & a {
        font-weight: weight(regular);
        font-size: font-size(normal);
        font-family: font-family(text);
    }
}

