@import "../helpers/variable";
@import "../components/box-shadow";
@import "../helpers/mixins";

header{
    @include flex-center(column);
    flex-direction: column;
    
}

.logo-container{
    @include flex-center(row);
    padding: 14px 0px 13px 0px;
    width: 100%;
    
    
    background-color: $BgColor;
    box-shadow: $box-shadow
}

.logo{
    width: 162px;
    max-width: 200px;
    
}

.location-container{
    @include flex-center(row);
    gap: 17px;
    background-color: $grey2Color;
    color: $grey-heading-color;
    padding: 10px;
    width: 100%;
    z-index: -1;

}

